{% extends 'user_office/profile.html' %}
{% block custom_menu %}
<li class="last"><a href="">Заказы</a></li>
{% endblock %}
{% block features %}
    <div id="seller-products-list">        
        <a href="{% url 'user_office:add_new_product' %}">Добавить товар</a>
        {% block add_new_product %}
        {% endblock %}
        <h3>Список товаров магазина {{shop_name}}</h3>
        {% for product in seller_products %}
            <div class="product_card">
                <h4>{{product.name}}</h4>
                <img src="{{ product.main_image.url }}">
                <p>Цена: {{product.price}}</p>
                <p>Рейтинг: {{product.rating}}</p>
                <>
            </div>
        {% endfor %}
    </div>
{% endblock %}