{% extends "shop\base.html" %}
{% block title %}Log-in{% endblock %}

{% block page_title %}         
    <h1>Вход</h1>
{% endblock %}

{% block content %}
        <h4>Пожалуйста, заполните форму для входа:</h4>
        <form action="." method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" class="btn btn-success" value="Войти"></p>
        </form>
        <h3>Еще не зарегистрированы?</h3>
        <a class="btn btn-outline-success" href="{% url 'accounts:register'%}">Регистрация</a>
{% endblock %}