{% extends "shop\base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="workspace-header">          
        <h1>Вход</h1>
    </div>
    <div class="content-container">  
        <h4>Пожалуйста, заполните форму для входа:</h4>
        <form action="." method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" class="btn btn-success" value="Войти"></p>
        </form>
        <h3>Еще не зарегистрированы?</h3>
        <a class="btn btn-outline-success" href="{% url 'accounts:register'%}">Регистрация</a>
    </div>
{% endblock %}