{% load static %}

<link rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap/css/bootstrap.css'%}"/>
<link rel="stylesheet"
      type="text/css"
      href="{% static 'shop/style.css'%}"/>
{% block extra_styles %} {% endblock %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}eShop{% endblock %}</title>
</head>
<body> 
  <div id="header">
    <div id="menu-bar">
      {% block main_menu %}
        {% include 'shop\menu_bar.html' %}
      {% endblock %}
    </div>
  </div>   
  <div class="main">
    <div class="workspace-header">  
      {% block page_title %}        
      <h1>Последние новинки</h1>
      {% endblock %}
    </div>
    <div class="content-container">   
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div id="footer">
    {% block footer %}
      <p>ВКР "Программирование на Python" Designed by Grass M.G.</p>
    {% endblock %}
  </div>
</body>
</html>